argparse
cupy-cuda110
easydict==1.9
matplotlib==3.0.3
numpy==1.19.5
opencv-python
open3d==0.13.0
pyntcloud==0.1.5
pyOpenGL==3.1.5
pygame==2.1.0
PyQt5==5.10.1
scipy==1.2.3
Shapely==1.7.1
tensorboardX==1.2.0
trimesh==3.9.29
